$modal-z: 100000 !default;

$modal-background-background-color: rgba(#000, 0.86) !default;

$modal-content-width: 640px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default$modal-card-head-background-color: hsl(0, 0%, 96%) !default;
$modal-card-head-border-bottom: 1px solid hsl(0, 0%, 86%) !default;
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: 6px !default;

$modal-card-title-color: hsl(0, 0%, 21%) !default;
$modal-card-title-line-height: 1 !default;
$modal-card-title-size: 1.5rem !default;

$modal-card-foot-radius: 6px !default;
$modal-card-foot-border-top: 1px solid hsl(0, 0%, 86%) !default;

$modal-card-body-background-color: hsl(0, 0%, 100%) !default;
$modal-card-body-padding: 20px !default;

.mdl-modal,
.mdl-modal-background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.mdl-modal {
	align-items: center;
	display: none;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: $modal-z;

	&.is-active {
		display: flex;
	}

	&-background {
		background-color: $modal-background-background-color;
	}

	&-content,
	&-card {
		margin: 0 $modal-content-margin-mobile;
		max-height: calc(100vh - #{$modal-content-spacing-mobile});
		overflow: auto;
		position: relative;
		width: 100%;

		@media screen and (min-width: 769px), print {
			margin: 0 auto;
			max-height: calc(100vh - #{$modal-content-spacing-tablet});
			width: $modal-content-width;
		}
	}

	&-card {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - #{$modal-card-spacing});
		overflow: hidden;
		-ms-overflow-y: visible;
	}

	&-card-head,
	&-card-foot {
		align-items: center;
		background-color: $modal-card-head-background-color;
		display: flex;
		flex-shrink: 0;
		justify-content: flex-start;
		padding: $modal-card-head-padding;
		position: relative;
	}

	&-card-head {
		border-bottom: $modal-card-head-border-bottom;
		border-top-left-radius: $modal-card-head-radius;
		border-top-right-radius: $modal-card-head-radius;
	}

	&-card-title {
		color: $modal-card-title-color;
		flex-grow: 1;
		flex-shrink: 0;
		font-size: $modal-card-title-size;
		line-height: $modal-card-title-line-height;
		margin: 0;
	}

	&-card-foot {
		border-bottom-left-radius: $modal-card-foot-radius;
		border-bottom-right-radius: $modal-card-foot-radius;
		border-top: $modal-card-foot-border-top;

		&.is-pulled-right {
			justify-content: flex-end;
		}

		.mdl-button {
			&:not(:last-child) {
				margin-right: 10px
			}
		}
	}

	&-card-body {
		background-color: $modal-card-body-background-color;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
		padding: $modal-card-body-padding;
	}

	&-close {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: none;
		border-radius: 290486px;
		cursor: pointer;
		pointer-events: auto;
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 0;
		max-height: 20px;
		max-width: 20px;
		min-height: 20px;
		min-width: 20px;
		outline: none;
		vertical-align: top;
		user-select: none;
		position: relative;

		&.is-fixed {
			background: none;
			height: $modal-close-dimensions;
			position: fixed;
			right: $modal-close-right;
			top: $modal-close-top;
			width: $modal-close-dimensions;
		}

		&::before,
		&::after {
			background-color: white;
			content: "";
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform-origin: center center;
		}

		&::before {
			height: 2px;
			width: 50%;
		}

		&::after {
			height: 50%;
			width: 2px;
		}

		&:hover,
		&:focus {
			background-color: rgba(#000, 0.3);
		}

		&:active {
			background-color: rgba(#000, 0.4);
		}

		&.is-large {
			height: 32px;
			max-height: 32px;
			max-width: 32px;
			min-height: 32px;
			min-width: 32px;
			width: 32px;
		}
	}
}
